* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    font-family: 'Poiret One', cursive;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    position: relative;
    background-color: rgb(228, 226, 222);
    height: 300px;
    width: 300px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgb(0, 0, 0 , 0.7),
                0 2vw 4vw -1vw rgb(0, 0, 0 , 0.9);
}

.date {
    position: absolute;
    width: 120px;
    height: 20px;
    border-radius: 5px;
    background-color: #ccc; 
    text-align: center;
    line-height: 20px;
    color: rgb(0, 0, 0 , 0.9);
    font-weight: 700;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%) ;
}

.dot{
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: #ccc;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    box-shadow: 0 2px 4px -1px #000;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.hands > div {
    position: absolute;
    left: 50%;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    
}

.hour-hand {
    z-index: 5;
    width: 6px;
    height: 65px;
    background-color: black;
    top: 84px;
    margin-left: -3px;
    transform-origin: 50% 65px;
}

.minute-hand {
    z-index: 6;
    height: 100px;
    width: 4px;
    background: #666;
    top: 46px;
    margin-left: -2px;
    transform-origin: 50% 100px;
}

.second-hand{
    z-index: 7;
    width: 2px;
    height: 120px;
    background-color: #999;
    top: 26px;
    margin-left: -1px;
    transform-origin: 50% 120px;
}

.hours > span {
    z-index: 4;
    display: inline-block;
    position: absolute;
    color: black;
    font-size: 22px;
    font-weight: 700;
}

.hour12 {
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.hour3 {
    top: 44%;
    right: 28px;
    transform: translateX(-50%);
}

.hour6 {
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%)
}

.hour9 {
    top: 44%;
    left: 43px;
    transform: translateX(-50%);
}

.diallines{
    position: absolute;
    z-index: 2;
    width: 2px;
    height: 12px;
    background-color: #999;
    left: 50%;
    margin-left: -1px;
    margin-top: 8px;
   transform-origin: 50% 140px;
}

.diallines:nth-of-type(5n){
    width: 3px;
    height: 20px;
    background-color: #777;
}
 